/*
Theme Name: Sepsis Quiz Theme
Template: Twenty Seventeen
*/
body {
    background: #C13B3F;
    font-family: 'Work Sans', sans-serif;
}

button,
input[type="button"],
input[type="submit"] {
    background: white;
    border: 0;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

/*
card-container
*/
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}

.question-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.share-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.under-card-bottom-container-question {
    display: none;
    justify-content: center;
    height: auto;
    overflow-y: hidden;
}

.under-card-bottom-container-share {
    display: flex;
    justify-content: center;
    height: auto;
    overflow-y: hidden;
}

/*
QUESTION
*/
.question-number {
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    color: #9D1D21;
    opacity: .7;
    text-align: center;
    padding: 20px 0;
}

/*
CARDS
*/
.under-card-top {
    background: #EBEBEB;
    height: 100px;
    border-radius: 10px;
    margin-bottom: -90px;
    width: calc(100% - 40px);
    align-self: center;
}

.card-container {
    background: white;
    color: #444443;
    text-align: center;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: rgba(40, 5, 5, .4) 0 70px 40px -40px;
    z-index: 3;
}

.under-card-bottom {
    background: #9D1D21;
    color: white;
    font-size: 15px;
    font-weight: 300;
    padding: 30px 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(100% - 40px - 120px);
    align-self: center;
    text-align: center;
    line-height: 1.3;
    /*transform: translateY(-100%);*/
}

/*
MAIN CARD CONTENTS
*/
.question {
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 30px;
}

.choices {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
}

.field {
    margin: .5em 0;
    display: flex;
    align-items: center;
}

.field .fa {
    display: none;
}

.field .fa.fa-check {
    color: #1DE9B6;
}

.field .fa.fa-times {
    color: #F1474C;
}

.field > input {
    background: white;
    border-radius: 1000px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    font-size: 21px;
    font-weight: 300;
    padding: 18px 6px;
}

.field input:hover,
input[type="submit"]:focus {
    background: white;
    cursor: pointer;
}

.field.disabled.correct input, .field.disabled.bingo input {
    background: #1DE9B6;
    color: white;
    cursor: inherit;
    /*padding: 16px;*/
}

.field.disabled .fa {
    display: inline-block;
}

.field label {
    width: 10%;
    padding: 0.3em;
    margin-bottom: 0;
}

.field.correct > input {
    background: #1DE9B6;
    color: white;
    font-weight: 500;
}

.field.incorrect {
    color: #F1474C;
    background: transparent;
    font-weight: 500;

}

/*
BOTTOM CARD CONTENTS
*/
.learn-more {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
}

.learn-more a {
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .3s ease;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 14px;
    opacity: .3;
}

.learn-more a:hover {
    opacity: 1;
}

.learn-more .fa {
    padding-left: 4px;
}

/*
RESULTS
*/
.results {
    margin-bottom: 60px;
}

/*
CORRECT
*/
.correct-text {
    color: white;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.bar-container {
    text-align: center;
    margin-bottom: 60px;
}

.bar-total {
    height: 18px;
    background: #9D1D21;
    border-radius: 1000px;
    max-width: 400px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.bar-correct {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 1000px;
    width: 70%;
    background: #00c3ff; /* Old browsers */
    background: -moz-linear-gradient(left, #00c3ff 0%, #1de9b6 50%, #ffff1c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00c3ff 0%, #1de9b6 50%, #ffff1c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00c3ff 0%, #1de9b6 50%, #ffff1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c3ff', endColorstr='#ffff1c', GradientType=1); /* IE6-9 */
    animation: bar 2s cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}

.bar-correct::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 500%;
    background: #1de9b6; /* Old browsers */
    background: -moz-linear-gradient(left, #1de9b6 0%, #00c3ff 25%, #1de9b6 50%, #ffff1c 75%, #1de9b6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1de9b6 0%, #00c3ff 25%, #1de9b6 50%, #ffff1c 75%, #1de9b6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1de9b6 0%, #00c3ff 25%, #1de9b6 50%, #ffff1c 75%, #1de9b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1de9b6', endColorstr='#1de9b6', GradientType=1); /* IE6-9 */
    border-radius: 1000px;
    animation: gradient 5s cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}

/*
SHARE
*/
.share-text {
    padding-top: 40px;
}

.share-the-quiz {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.share {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.share-container {
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.fb {
    background: #3B5998;
    transition: all .3s ease;
}

.fb:hover {
    background: #2a4783;
}

.tw {
    background: #1DA1F3;
    transition: all .3s ease;
}

.tw:hover {
    background: #1893df;
}

.cta-container {
    z-index: 3;
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
    transform: translateY(-27px);
}

.cta {
    color: white;
    text-decoration: none;
    background: #F1474C;
    text-align: center;
    font-size: 14px;
    padding: 18px 42px;
    border-radius: 1000px;
    box-shadow: rgba(40, 5, 5, .3) 0 12px 30px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.cta:hover {
    box-shadow: rgba(241, 71, 76, .5) 0 0 30px, rgba(40, 5, 5, .3) 0 0 10px;
}

.share-block {
    display: inline-block;
    margin-top: 20px;
}

.share-block a {
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.share-block .fa {
    padding-left: 4px;
}

/*
BUTTON
*/
.twitter-button {
    background-color: #00aced;
}

/*
ANIMATION
*/
.under-card-bottom-reveal {
    animation: reveal 1.0s 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}

.under-card-top-hide {
    animation: hide 1.0s cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}

@keyframes reveal {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hide {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
        background: #EBEBEB;
    }
    100% {
        transform: translateY(10px);
        background: #9D1D21;
    }
}

@keyframes gradient {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes bar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*
MOBILE
*/

@media only screen and (max-device-width: 640px) {
    .main-container {
        width: calc(100% - 40px);
    }

    .question-number {
        font-size: 18px;
    }

    .question {
        font-size: 21px;
    }

    .choices > div {
        font-size: 18px;
    }

    .card-container {
        padding: 30px 30px;
    }

    .share-the-quiz {
        font-size: 18px;
    }

    .under-card-bottom {
        padding: 30px;
        width: calc(100% - 40px - 60px);
        font-size: 14px;
    }

    .correct-text {
        font-size: 18px;
        margin-bottom: 20px;
    }
}