/*
Theme Name: Sepsis Quiz Theme
Template: Twenty Seventeen
*/
body {
   background: #C13B3F;
}

button,
input[type="button"],
input[type="submit"] {
   background: white;
   border: 0;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: none;
   box-shadow: none;
   color: black;
   cursor: pointer;
   display: inline-block;
   font-size: 14px;
   font-weight: 400;
   line-height: 1;
   padding: 1em 2em;
   text-shadow: none;
   -webkit-transition: background 0.2s;
   transition: background 0.2s;
}

/*
card-container
*/
.main-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
   margin: 0 auto;
   width: 100%;
   max-width: 600px;
   font-family: 'Roboto', sans-serif;
}

.question-container {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   padding: 30px 0;
}

.share-container {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   padding: 30px 0;
}

.under-card-bottom-container-question {
   display: none;
   justify-content: center;
   height: auto;
   overflow-y: hidden;
}

.under-card-bottom-container-share {
   display: flex;
   justify-content: center;
   height: auto;
   overflow-y: hidden;
}

/*
QUESTION
*/
.question-number {
   font-size: 36px;
   font-weight: 100;
   text-transform: uppercase;
   color: #9D1D21;
   opacity: .7;
   text-align: center;
   padding: 20px 0;
}

/*
CARDS
*/
.under-card-top {
   background: #EBEBEB;
   height: 100px;
   border-radius: 15px;
   margin-bottom: -90px;
   width: calc(100% - 40px);
   align-self: center;
   /* box-shadow: rgba(40,5,5,.3) 0 12px 30px; */
}

.card-container {
   background: white;
   color: #444443;
   text-align: center;
   padding: 60px 40px;
   border-radius: 15px;
   box-shadow: rgba(40, 5, 5, .3) 0 12px 30px;
   z-index: 3;
}

.under-card-bottom {
   background: #9D1D21;
   color: white;
   font-size: 15px;
   font-weight: 300;
   padding: 30px 60px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   width: calc(100% - 40px - 120px);
   align-self: center;
   text-align: center;
   line-height: 1.3;
   /* box-shadow: rgba(40,5,5,.1) 0 12px 10px; */
}

/*
MAIN CARD CONTENTS
*/
.question {
   font-size: 30px;
   font-weight: 400;
   width: 100%;
   margin-bottom: 30px;
}

.choices {
   font-size: 24px;
   font-weight: 300;
   width: 100%;
}

.field {
   margin: .5em 0;
   display: flex;
   align-items: center;
}

.field .fa {
   display: none;
}

.field .fa.fa-check {
   color: #1DE9B6;
}

.field .fa.fa-times {
   color: #F1474C;
}

.field > input {
   background: white;
   border-radius: 1000px;
   cursor: pointer;
   display: inline-block;
   flex-grow: 1;
   font-size: 21px;
   font-weight: 300;
   padding: 18px 6px;
}

.field input:hover,
input[type="submit"]:focus {
   background: white;
   cursor: pointer;
}

.field.disabled.correct input, .field.disabled.bingo input {
   background: #1DE9B6;
   color: white;
   cursor: inherit;
   /*padding: 16px;*/
}

.field.disabled .fa {
   display: inline-block;
}

.field label {
   width: 10%;
   padding: 0.3em;
   margin-bottom: 0;
}

.field.correct > input {
   background: #1DE9B6;
   color: white;
   font-weight: 500;
}

.field.incorrect {
   color: #F1474C;
   background: transparent;
   font-weight: 500;

}

.share {
   font-size: 30px;
   font-weight: 500;
   width: 100%;
   margin-bottom: 30px;
}

/*
BOTTOM CARD CONTENTS
*/
.learn-more {
   display: inline-block;
   margin-top: 20px;
}

.learn-more a {
   font-weight: 300;
   color: white;
   text-decoration: none;
   cursor: pointer;
}

.learn-more .fa {
   padding-left: 4px;
}

.share-block {
   display: inline-block;
   margin-top: 20px;
}

.share-block a {
   font-weight: 300;
   color: white;
   text-decoration: none;
}

.share-block .fa {
   padding-left: 4px;
}

/*
BUTTON
*/
.twitter-button {
   background-color: #00aced;
}

/*
ANIMATION
*/
.under-card-bottom-reveal {
   animation: reveal 0.5s cubic-bezier(1.000, 0.000, 0.500, 1.000) forwards;
}

.under-card-top-hide {
   animation: hide 1.0s cubic-bezier(1.000, 0.000, 0.500, 1.000) forwards;
}

@keyframes reveal {
   0% {
      transform: translateY(-100%);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes hide {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-10px);
   }
   100% {
      transform: translateY(10px);
   }
}
